<div style="padding:10px">
	
	<h2>Traducciones</h2>
	
	<p>{{'TEXT'|translate}}</p>
	<p>
		<ANY translate="With variable" translate-values="{ var: 'hola mundo' }"></ANY>
	</p>
	
	<button ng-click="mc.changeLang('es')">Spanish</button>
	<button ng-click="mc.changeLang('en')">English</button>
	
	
	<h2>Saltos de página</h2>
	
	<a href="#/page2">Goto page 2</a>
	
	
	<h2>Tablas</h2>
	
	<table st-table="mc.displayedCollection" st-safe-src="mc.rowCollection" class="table table-striped">
		<thead>
			<tr>
				<th st-sort="firstName">first name</th>
				<th st-sort="lastName">last name</th>
				<th st-sort="birthDate">birth date</th>
				<th st-sort="balance" st-skip-natural="true">balance</th>
				<th>email</th>
			</tr>
			<tr>
				<th colspan="5"><input st-search="" class="form-control" placeholder="global search ..." type="text"/></th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="row in mc.displayedCollection">
				<td>{{row.firstName}}</td>
				<td>{{row.lastName}}</td>
				<td>{{row.birthDate}}</td>
				<td>{{row.balance}}</td>
				<td>{{row.email}}</td>
			</tr>
		</tbody>
	</table>
</div>